@using Microsoft.AspNetCore.Components.Forms
@using AntDesign

@inject IMessageService messageService

<EditForm Model="DefualtProtoObject">
    <Yee.Section.Handlers.ProtoHandlerFactory OnInput="OnInput" InputValue="DefualtProtoObject" ProtoType="ProtoType"></Yee.Section.Handlers.ProtoHandlerFactory>

    <div style="height: 3rem;">
        <div style=" padding: 1rem; float: right; padding-right: 10rem;">
            <AntDesign.Button OnClick="Save" Class="admin-button-primary">Сохранить</AntDesign.Button>
        </div>
    </div>
</EditForm>

@code{

    [Parameter] public Type ProtoType { get; set; }

    public object DefualtProtoObject;

    protected override void OnInitialized()
    {
        DefualtProtoObject = Yee.Section.Extensions.ProtoHelper.CreateObjectProto(type: ProtoType);
        base.OnInitialized();
    }

    public void OnInput(object protoOffers)
    {

    }

    public void Save()
    {
        messageService.Success("Сохранено");
    }
}