@using Yee.Section.Handlers
@using Yee.Page; 
@inherits ProtoHandler<ProtoLink, string>
@inject PageDbContext pageContext
@using AntDesign
@if (Routes != null)
{
    <div style=" width: 33rem; display: flex; align-items: center;">
        <label style="padding-right: 2rem;">@(Proto.DisplayName ?? "Строка")</label>
        <Select Mode="defualt"
                DataSource="@Routes"
                Placeholder="Выберите путь"
                DefaultValue="Current"
                @bind-Value="Current"
                TItemValue="Yee.Page.Models.YeeRoute"
                TItem="Yee.Page.Models.YeeRoute"
                EnableSearch>
            <ItemTemplate Context="ctx">
                <div>
                    @ctx.LocalPath
                </div>
            </ItemTemplate>
            <LabelTemplate Context="ctx">
                <div>
                    @ctx.LocalPath
                </div>
            </LabelTemplate>
        </Select>
    </div>
}

@code {

    protected override string NewModel => "/";

    public List<Yee.Page.Models.YeeRoute> Routes { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Routes = pageContext.YeeRoutes.OrderByDescending(p => p.CreatedAt).ToList();
    }

    private Yee.Page.Models.YeeRoute Current
    {
        get
        {
            return Routes.FirstOrDefault(p => p.LocalPath == Model);
        }
        set
        {
            Model = value.LocalPath;
        }
    }

}
