@inherits ProtoHandler<ProtoBool, bool>

<div style=" width: 33rem; display: flex; align-items: center;">
    <div class="handler-form-item-label ant-col ant-col-9">
        <label>@(Proto.DisplayName ?? "Bool")</label>
    </div>
    <AntDesign.Checkbox @bind-Value="Model">

    </AntDesign.Checkbox>
</div>

@code {

    protected override bool NewModel => false;
}
