@inherits ProtoHandler<ProtoDate, DateTime?>

<div style=" width: 33rem; display: flex; align-items: center;">
    <div class="handler-form-item-label ant-col ant-col-9">
        <label>@(Proto.DisplayName ?? "Дата")</label>
    </div>
    <AntDesign.DatePicker Class="ant-col ant-col-15" TValue="DateTime?" @bind-Value="Model" />
</div>

@code { 

    protected override DateTime? NewModel => null;
}