@inherits ProtoHandler<ProtoDate, DateTime?>

<div style=" width: 33rem; display: flex; align-items: center;">
    <label style="padding-right: 2rem;">@(Proto.DisplayName ?? "Дата")</label>
    <AntDesign.DatePicker TValue="DateTime?" @bind-Value="Model" />
</div>

@code { 

    protected override DateTime? NewModel => null;
}