@inherits ProtoHandler<ProtoLink, string>

<div style=" width: 33rem; display: flex; align-items: center;">
    <label style="padding-right: 2rem;">@(Proto.DisplayName ?? "Строка")</label>
    <AntDesign.Input TValue="string" @bind-Value="Model"></AntDesign.Input>
</div>

@code {

    protected override string NewModel => "/";
}
