@inherits ProtoHandler<ProtoNumber, decimal>

<div style=" width: 33rem; display: flex; align-items: center;">
    <div class="handler-form-item-label ant-col ant-col-9">
        <label>@(Proto.DisplayName ?? "Число")</label>
    </div>
    <AntDesign.InputNumber Class="ant-col ant-col-15" TValue="decimal" @bind-Value="Model">
    </AntDesign.InputNumber>
</div>

@code {

    protected override decimal NewModel => 0.0m;
}
