@using Yee.CoreLayout.ViewModels.Account
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="login-page">
    <div class="row">
        <h3 class="text-center main-color">Авторизация</h3>
        <div class="col-md-12">
            <section>
                <div class="login-block m-auto">
                    <form asp-area="Core" asp-controller="Account" asp-action="Login" asp-route-returnurl="" method="post">
                        <div class="form-group mt-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                                <input type="text" class="form-control"  placeholder="Логин">
                                @* <span asp-validation-for="Login" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                                <input type="password" class="form-control"  placeholder="Пароль">
                                @* <span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input  />
                                        Запомнить меня
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-md-12">
                                <div  class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-secondary">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>

            </section>
        </div>
    </div>
</div>

