@inherits LayoutComponentBase
@using Microsoft.JSInterop;
@using Yee.Web.Services

@inject YeeViewManager manager
@inject NavigationManager navigation
@inject DbContextState state
@using System.Linq 
<div class="page">
    <main>
        <div class="top-row admin-header text-right px-5 ml-0" style="z-index: 9;">
            <a href="/" class="brand-logo">
                <img alt="Logo" src="@(manager.CreateBaseUri(typeof(AdminLayout).Assembly))/icons/yee-logo-transparent.png" style="width: 3.6rem;" />
            </a>
            <div class="container" style="width: auto !important; margin-left: 20px;">
                <AdminNavigation></AdminNavigation>

            </div>
        </div>
        <div class="content container">
            @Body
        </div>
    </main>
</div>


@code{

    protected override void OnInitialized()
    {
        var uri = new Uri(navigation.Uri);
        if (state.All(p => p.Value.IsWorked == false) && uri.LocalPath.StartsWith("/admin/required-options") == false)
        {
            navigation.NavigateTo("/admin/required-options");
            return;
        }
        base.OnInitialized();
    }
}
