@inject NavigationManager _navManager



<li class="menu-item" aria-haspopup="true">
    <NavLink href="@Item.Link.Value" @onclick="NavigationTo" class="menu-link">
        <span class="menu-text">@Item.Title</span>
    </NavLink>
</li>
@code{
    [Parameter] public NavMenuItem Item { get; set; }

    protected override void OnInitialized()
    {
    }

    public void NavigationTo()
    {
        _navManager.NavigateTo(Item.Link.Value);
    }
}