@using AntDesign
@inject Yee.Page.Repositories.PageRepository repository

@if (IsLoad)
{
    <Select TItem="Yee.Page.Models.YeePropertyValue"
            TItemValue="Yee.Page.Models.YeePropertyValue"
            DataSource="@PropertyValues"
            @bind-Value="@_selectedValue"
            LabelName="@nameof(Yee.Page.Models.YeePropertyValue.DisplayName)"
            DefaultActiveFirstOption
            Style="width: 200px;"
            OnSelectedItemChanged="OnSelectedItemChangedHandler">
        <ItemTemplate>
            <span>@((context as Yee.Page.Models.YeePropertyValue).DisplayName)</span>
        </ItemTemplate>
    </Select>
}

@code
{

    Yee.Page.Models.YeePropertyValue _selectedValue;

    [Parameter]
    public EventCallback<Yee.Page.Models.YeePropertyValue> OnSelect { get; set; }

    public List<Yee.Page.Models.YeePropertyValue> PropertyValues { get; set; }

    public bool IsLoad { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            PropertyValues = repository.GetModelDatas();
            IsLoad = true;
            StateHasChanged();
        }
    }

    private void OnSelectedItemChangedHandler(Yee.Page.Models.YeePropertyValue value)
    {
        OnSelect.InvokeAsync(value);
    }

}