@using Yee.Section.Handlers
@using Yee.Cabaret.Sections.Prototypes
@using Yee.Section.Extensions
@inherits ProtoHandler<ProtoMenu, Menu>

<div style=" padding-top: 1rem;">
    <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
        <div style="border-left: #3bae20 1px solid; border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
            <ProtoHandlerFactory InputValue="Model.CabSubHeading" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
            <ProtoHandlerFactory InputValue="Model.CabBigHeading" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
            <ProtoHandlerFactory InputValue="Model.PriceDisplay" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
            <ProtoHandlerFactory InputValue="Model.ButtonContent" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
            <ProtoHandlerFactory InputValue="Model.ButtonUrl" ProtoType="typeof(ProtoLink)" OnInput="Input"></ProtoHandlerFactory>
        </div>
    </div>
</div>

@code {
    protected override Menu NewModel =>
       ProtoHelper.CreateDefualt<Menu>();
}