@using Yee.Section.Handlers
@using Yee.Cabaret.Sections.Prototypes
@using Yee.Section.Extensions
@inherits ProtoHandler<ProtoEvents, News>

<div style=" padding-top: 1rem;">
    <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
        <div style="border-left: #3bae20 1px solid; border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
            <ProtoHandlerFactory InputValue="Model.SubHeader" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
            <ProtoHandlerFactory InputValue="Model.Header" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
        </div>
        <div style="margin-top: 10px;">
            <h5>События</h5>
            <AntDesign.Button OnClick="AddEvent" Style="margin-left: 1.1rem;">Добавить</AntDesign.Button>
        </div>
    </div>
    <div style=" display: flex; justify-content: space-evenly; flex-direction: row; flex-wrap: wrap; }">
        @foreach (var card in Model.NewsItems)
        {
            <div style="border-left: #3bae20 1px solid; border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
                <ProtoHandlerFactory InputValue="card.Description" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Place" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Date" ProtoType="typeof(ProtoDate)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Image" ProtoType="typeof(ProtoImg)" OnInput="Input"></ProtoHandlerFactory>
            </div>
        }
    </div>
</div>
@code {

    protected override News NewModel =>
       ProtoHelper.CreateDefualt<News>();

    public void AddEvent()
    {
        Model.NewsItems.Add(ProtoHelper.CreateDefualt<NewsItem>());
        Input();
        StateHasChanged();
    }
}