@using Yee.Section.Handlers
@using Yee.Cabaret.Sections.Prototypes
@using Yee.Section.Extensions
@inherits ProtoHandler<ProtoTeam, List<Employee>>

<div style=" padding-top: 1rem;">
    <div style="display: flex; justify-content: center; align-items: center; flex-flow: column;">
        <div style="margin-top: 10px;">
            <h5>Команда</h5>
            <AntDesign.Button Class="admin-button-secondary" OnClick="AddNew" Style="margin-left: 1.1rem;">Добавить</AntDesign.Button>
        </div>
    </div>
    <div style=" display: flex; justify-content: space-evenly; flex-direction: row; flex-wrap: wrap; }">
        @foreach (var card in Model)
        {
            <div style="border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
                <ProtoHandlerFactory InputValue="card.Name" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Post" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Img" ProtoType="typeof(ProtoImg)" OnInput="Input"></ProtoHandlerFactory>
            </div>
        }
    </div>
</div>
@code {

    protected override List<Employee> NewModel =>
       ProtoHelper.CreateDefualt<List<Employee>>();

    public void AddNew()
    {
        Model.Add(ProtoHelper.CreateDefualt<Employee>());
        Input();
        StateHasChanged();
    }
}