@using Yee.Section.Handlers
@using Yee.Cabaret.Sections.Prototypes
@using Yee.Section.Extensions
@inherits ProtoHandler<ProtoOfferCards, List<CabOfferCard>>



<div style=" padding-top: 1rem;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h5>Карточки</h5>
        <AntDesign.Button Class="admin-button-secondary" OnClick="AddCard" Style="margin-left: 1.1rem;">Добавить</AntDesign.Button>
    </div>
    <div style=" display: flex; justify-content: space-evenly; flex-direction: row; flex-wrap: wrap; }">
        @foreach (var card in Model)
        {
            <div style="border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
                <ProtoHandlerFactory InputValue="card.Primary" ProtoType="typeof(ProtoBool)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Title" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Description" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Price" ProtoType="typeof(ProtoNumber)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Img" ProtoType="typeof(ProtoImg)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Popular" ProtoType="typeof(ProtoBool)" OnInput="Input"></ProtoHandlerFactory>

            </div>

        }
    </div>

</div>
@code {

    protected override List<CabOfferCard> NewModel =>
       ProtoHelper.CreateDefualt<List<CabOfferCard>>();

    public void AddCard()
    {
        Model.Add(ProtoHelper.CreateDefualt<CabOfferCard>());
        Input();
        StateHasChanged();
    }

}
