@using Yee.Section.Handlers
@using Yee.Cabaret.Sections.Prototypes
@using Yee.Section.Extensions
@inherits ProtoHandler<ProtoSwiperSlidesItems, List<SwiperSlide>>

<div style=" padding-top: 1rem;">
    <div style="display: flex; justify-content: center; align-items: center; flex-flow: column; margin-top: 10px;">
        <h5>Слайды</h5>
        <AntDesign.Button Class="admin-button-secondary" OnClick="AddSlide" Style="margin-left: 1.1rem;">Добавить</AntDesign.Button>
    </div>
    <div style=" display: flex; justify-content: space-evenly; flex-direction: row; flex-wrap: wrap; }">
        @foreach (var card in Model)
        {
            <div style="border-radius: 10px; padding-left: 1rem; margin-top: 1rem; display: flex; flex-flow: column; gap: 10px;">
                <ProtoHandlerFactory InputValue="card.CabBigHeading" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.CabSubHeading" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.ButtonContent" ProtoType="typeof(ProtoString)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.ButtonLink" ProtoType="typeof(ProtoLink)" OnInput="Input"></ProtoHandlerFactory>
                <ProtoHandlerFactory InputValue="card.Img" ProtoType="typeof(ProtoImg)" OnInput="Input"></ProtoHandlerFactory>
            </div>
        }
    </div>
</div>

@code {
    protected override List<SwiperSlide> NewModel =>
       ProtoHelper.CreateDefualt<List<SwiperSlide>>();

    public void AddSlide()
    {
        Model.Add(ProtoHelper.CreateDefualt<SwiperSlide>());
        Input();
        StateHasChanged();
    }
}