@using ModuleGate.ComponentEngine.Models
@inherits BaseDomElement

<div class="my-component">
    This component is defined in the <strong>ModuleGate.ComponentEngine</strong> library.
</div>

@foreach(var child in Childs)
{
    @child
}
