@page "/admin" 
@inject NavigationManager manager
@layout Yee.Admin.Shared.AdminLayout

<div>Index</div>
@code { 


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            manager.NavigateTo("/admin/pages");
        }
    }
}
