@page "/admin/sections"
@inject SectionState state

@using Yee.Section.Extensions

<AdminPage>
    <Header>
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">Секции</h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
    </Header>
    <Body>
        <div style="padding: 1rem;">
            <div>
                @foreach (var sectionGroup in state.Sections.GroupBy(p => p.Assembly))
                {
                    <div>
                        <div>
                            <h4>@sectionGroup.Key.GetName().Name</h4>
                        </div>

                        @foreach (var sectionItem in sectionGroup)
                        {
                            var sectionInfo = SectionHelper.Analyze(sectionItem);
                            <div style=" padding-left: 2rem;">

                                <div class="section-name">
                                    @sectionInfo.Type.Name
                                </div>

                                <div  class="section-body">
                                    @foreach (var par in sectionInfo.Parameters)
                                    {
                                        <div class="section-par">
                                            <div style="display: flex; width: 30%">
                                                <div class="section-par-display">
                                                    @(par.DisplayName ?? par.Name)
                                                </div>
           
                                            </div>
                  

                                            <div class="section-par-type">
                                                <Yee.Admin.Component.Modules.DefualtProtoForm ProtoType="par.ParamType">

                                                </Yee.Admin.Component.Modules.DefualtProtoForm>
                                            </div>
                                        </div>
                           
                                    }
                                </div>
                            </div>
                        }
                    </div>
                  

                }
            </div>
        </div>
    </Body>
</AdminPage>


<style>
    .section-name {
        font-weight: bold;
        font-size: 1.1rem;
    }
    .section-body {
        padding-left: 2rem;
    }
    .section-par-display {
        font-weight: 500;
        font-size: 1.1rem;
    }
    .section-par-type {
        padding-left: 2rem;
    }
    .section-par{

    }
</style>
@code {

}
