@attribute [AppComponent(Router = true)]


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <div>NotFount</div>
    </NotFound>
</Router>