@inject RouteState state
@using Microsoft.JSInterop;
@using Yee.Web.Services
@using Yee.DynamicRouters.Models;

<div>
    @Route.LocalPath
</div>
@code{

    public YeeRoute? Route { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Route = state.GetCurrent();

        }
    }
}