
<div class="cab-footer-info-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="cab-footer-info-box">
                    <div class="icon-box">
                        <i class="flaticon-chef-1"></i>
                    </div>
                    <div class="info-title">
                        <h5>Our Address</h5>
                    </div>
                    <div class="info-details">
                        <p>
                            Domed and divided by arches into stiff The bedding was hardly able to cover
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cab-footer-info-box">
                    <div class="icon-box size-sm">
                        <i class="flaticon-clock"></i>
                    </div>
                    <div class="info-title">
                        <h5>Opening Hours</h5>
                    </div>
                    <div class="info-details">
                        <p>
                            <span class="d-block">Mon – Fri: 10 AM – 12 PM</span>
                            <span class="d-block">Sat – Sun: 10 AM – 1 PM</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cab-footer-info-box">
                    <div class="icon-box">
                        <i class="flaticon-order"></i>
                    </div>
                    <div class="info-title">
                        <h5>Private dining</h5>
                    </div>
                    <div class="info-details">
                        <p>
                            <span class="d-block">Main Email: <a href="mailto:example@demo.com">example@demo.com</a></span>
                            <span class="d-block">Phone: <a href="tel:++88215781678">++88215781678</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cab-footer-book-table-btn-box">
            <a href="#bookingTable" class="cab-btn cab-btn-primary-outline smooth-scroll">Book a table now</a>
        </div>
    </div>
</div>

@code {

}
