@inherits YeeSection
@inject NavigationManager _navManager
@using Yee.Cabaret.Sections.Prototypes

<section class="cab-faq-section">
    <div class="container">
        <div class="cab-heading-box v2">
            <div class="cab-main-heading">
                <h1>Have a question? Then please check it</h1>
            </div>
        </div>
        <div class="brief-description">
            <p>
                Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady
                fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the
                whole of hergilded frame. It showed a lady fitted out with a fur hat and fur boa who sat
            </p>
        </div>
        <div class="cab-faq-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="accordion js-accordion">
                        <div class="accordion-item js-accordion-item active">
                            <div class="accordion-header js-accordion-header">
                                1. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body" style="display: block;">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                2. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                3. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                4. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="accordion js-accordion">
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                5. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                6. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                7. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                8. Question number one, get answer form here
                            </div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body-contents">
                                    Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    [System.ComponentModel.DisplayName("FAQ")]
    public ProtoFAQ FAQ { get; set; }

    [Parameter]
    [System.ComponentModel.DisplayName("Questions")]
    public ProtoQuestions Questions { get; set; }
}
