@inherits YeeSection
@inject NavigationManager _navManager
@using Yee.Cabaret.Sections.Prototypes

<section class="cab-about-history-section">
    <div class="container">
        <div class="cab-about-history-inner">
            <div class="cab-heading-box v3">
                <div class="cab-main-heading img-alt">
                    <img src="/heading-vector.png" alt="">
                    <h1>@History.Value.Header</h1>
                </div>
            </div>
            <div class="cab-about-history-timeline d-flex">
                @foreach(var item in History.Value.HistoryItems)
                {
                    <div class="cab-about-timeline-box">
                        <div class="timeline-title">
                            <span class="year">@item.Year</span>
                            <span class="title">@item.Title</span>
                        </div>
                        <div class="timeline-line">
                        </div>
                        <div class="timeline-description">
                            <div class="inner">
                                @item.Description
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    [System.ComponentModel.DisplayName("History")]
    public ProtoHistory History { get; set; }
}
