@inherits YeeSection
@inject NavigationManager _navManager
@using Yee.Cabaret.Sections.Prototypes
@attribute [System.ComponentModel.DisplayName("Блок HTML")]

<section>
    @((MarkupString)Html.Value.Html.ToString())
</section>

@code {

    [Parameter]
    [System.ComponentModel.DisplayName("Html")]
    public ProtoHtml Html { get; set; }
}
