@using AntDesign
@using System.ComponentModel
@inject SectionState state

<Select TItem="Type"
        TItemValue="Type"
        DataSource="@state.Sections"
        @bind-Value="@_selectedValue"
        LabelName="@nameof(Type.Name)"
        Placeholder="Выберите секцию"

        Style="width: 200px;"
        OnSelectedItemChanged="OnSelectedItemChangedHandler">
    <ItemTemplate>
        <span>@(GetDisplayName(context as Type))</span>
    </ItemTemplate>
</Select>
@*DefaultActiveFirstOption*@
@code
{

    List<Type> _items;
    Type _selectedValue;
    Type _selectedItem;

    [Parameter]
    public EventCallback<Type> OnSelect { get; set; }

    private void OnSelectedItemChangedHandler(Type value)
    {
        OnSelect.InvokeAsync(value);
    }

    private string GetDisplayName(Type type)
    {
        var attr = type.GetCustomAttributes(typeof(DisplayNameAttribute), false)?
            .FirstOrDefault() as DisplayNameAttribute;
        if (attr != null)
            return attr.DisplayName;
        return type.Name;
    }
}